@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}

.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}

.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}

.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.typescript {
  border: 0.1rem solid rgb(118, 74, 188);
}

.typescript:hover {
  background: rgba(118, 74, 188, 0.25);
}

.svm {
  border: 0.1rem solid rgb(82, 143, 240);
}

.svm:hover {
  background: rgba(82, 143, 240, 0.25);
}

.random-forest {
  border: 0.1rem solid rgb(255, 193, 7);
}

.random-forest:hover {
  background: rgba(255, 193, 7, 0.25);
}

.xgboost {
  border: 0.1rem solid rgb(239, 108, 0);
}

.xgboost:hover {
  background: rgba(239, 108, 0, 0.25);
}

.bert {
  border: 0.1rem solid rgb(56, 142, 60);
}

.bert:hover {
  background: rgba(56, 142, 60, 0.25);
}

.express {
  border: 0.1rem solid rgb(25, 118, 210);
}

.express:hover {
  background: rgba(25, 118, 210, 0.25);
}

.graphql {
  border: 0.1rem solid rgb(232, 77, 115);
}

.graphql:hover {
  background: rgba(232, 77, 115, 0.25);
}

.tailwind {
  border: 0.1rem solid rgb(6, 182, 212);
}

.tailwind:hover {
  background: rgba(6, 182, 212, 0.25);
}

.react-query {
  border: 0.1rem solid rgb(255, 65, 84);
}

.react-query:hover {
  background: rgba(255, 65, 84, 0.25);
}

.gemini-api {
  border: 0.1rem solid rgb(21, 114, 182);
}

.gemini-api:hover {
  background: rgba(21, 114, 182, 0.25);
}

.web-containers {
  border: 0.1rem solid rgb(51, 153, 255);
}

.web-containers:hover {
  background: rgba(51, 153, 255, 0.25);
}